.vs/hebrew.api.slnx/FileContentIndex/e7af0de1-87b6-4425-9174-a55985d6f09e.vsidx
.vs/hebrew.api.slnx/v18/.suo
.vs/hebrew.api.slnx/v18/DocumentLayout.json
obj/hebrew.api.csproj.nuget.dgspec.json
obj/hebrew.api.csproj.nuget.g.props
obj/hebrew.api.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
obj/Debug/net10.0/hebrew.api.AssemblyInfo.cs
obj/Debug/net10.0/hebrew.api.AssemblyInfoInputs.cache
obj/Debug/net10.0/hebrew.api.assets.cache
obj/Debug/net10.0/hebrew.api.csproj.AssemblyReference.cache
obj/Debug/net10.0/hebrew.api.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net10.0/hebrew.api.GlobalUsings.g.cs
obj/Debug/net10.0/rpswa.dswa.cache.json
obj/Debug/net10.0/staticwebassets.removed.txt
.vs/
